snippet sali "align env" A
	\\begin{align}
		     ${1}&=${2} \\\\
		\\label{eq:${3}}
	\\end{align}
${0}
endsnippet
	
snippet sfig "figure env" A
	\\begin{figure}
	\\begin{center}
		\\includegraphics[scale=${1}]{Figures/${2}}
	\\end{center}
	\\caption{${3}}
	\\label{fig:${4}}
	\\end{figure}
${0}
endsnippet
